[Unit]
Description=Odoo
After=network.target

[Service]
User=odoo
Group=odoo
Type=simple
WorkingDirectory=/opt/odoo
ExecStart=/opt/odoo/bin/python  /opt/odoo/app/odoo-bin --config=/etc/odoo-server.conf --addons-path=/opt/odoo/app/addons/
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
